<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="../../static/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/static/bootstrap/3.3.5/css/bootstrap.min.css}"/>
    <link href="../../static/zui/1.8.1/css/zui.min.css" rel="stylesheet"
          th:href="@{/static/zui/1.8.1/css/zui.min.css}"/>
    <script src="//cdn.bootcss.com/zui/1.8.1/lib/jquery/jquery.js"></script>
    <script src="../../static/zui/1.8.1/js/zui.min.js" th:src="@{/static/zui/1.8.1/js/zui.min.js}"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-treegrid/0.2.0/css/jquery.treegrid.min.css"
          rel="stylesheet">
    <link href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-treegrid/0.2.0/js/jquery.treegrid.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/extensions/treegrid/bootstrap-table-treegrid.min.js"></script>

    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css"
          rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

    <link href="../../static/zui/1.8.1/lib/uploader/zui.uploader.min.css" rel="stylesheet">
    <script src="../../static/zui/1.8.1/lib/uploader/zui.uploader.min.js"></script>

    <style>
        .treegrid-expander {
            top: 5px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- 导航头部 -->
        <div class="navbar-header">
            <!-- 移动设备上的导航切换按钮 -->
            <button class="navbar-toggle" data-target=".navbar-collapse-example" data-toggle="collapse" type="button">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- 品牌名称或logo -->
            <a class="navbar-brand" href="/">Rap2 Generator</a>
        </div>
    </div>
</nav>

<div class="container">

    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" href="#config">
                <a href="javascript:">配置</a>
            </h4>
        </div>

        <div id="config" class="panel-collapse in">
            <div class="panel-body">
                <div class="page-content">
                    <div class="content pt-20">
                        <div class="form-group col-sm-6">
                            <label class="control-label col-sm-2" for="sid">sid:</label>
                            <div class="col-sm-10">
                                <input data-val="true" data-val-required="必填" class="col-xs-10 col-sm-10 form-control"
                                       type="text" id="sid" name="sid" placeholder="sid">
                                <span class="text-danger" data-valmsg-for="sid" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label col-sm-2" for="sig">sid:</label>
                            <div class="col-sm-10">
                                <input data-val="true" data-val-required="必填" class="col-xs-10 col-sm-10 form-control"
                                       type="text" id="sig" name="sig" placeholder="sig">
                                <span class="text-danger" data-valmsg-for="sig" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-1" for="interfaceUrl">接口地址:</label>
                            <div class="col-sm-11">
                                <input data-val="true" data-val-required="必填" class="col-xs-10 col-sm-10 form-control"
                                       type="text" id="interfaceUrl" name="interfaceUrl" placeholder="interfaceUrl">
                                <span class="text-danger" data-valmsg-for="interfaceUrl"
                                      data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="control-label col-sm-1">参数形式:</label>
                            <div class="col-sm-11">
                                <label class="radio-inline">
                                    <input type="radio" name="requestParamsType" checked value="QUERY_PARAMS">QUERY_PARAMS
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="requestParamsType" value="BODY_PARAMS"> BODY_PARAMS
                                </label>
                                <span class="text-danger" data-valmsg-for="requestParamsType"
                                      data-valmsg-replace="true"></span>
                            </div>
                        </div>


                        <div class="form-group col-sm-12 hidden" id="bodyOptionDiv">
                            <label class="control-label col-sm-1">BodyOption:</label>
                            <div class="col-sm-11">
                                <label class="radio-inline">
                                    <input type="radio" name="bodyOption" checked value="FORM_DATA"> FORM_DATA
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="bodyOption" value="X_WWW_FORM_URLENCODED">
                                    X_WWW_FORM_URLENCODED
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="bodyOption" value="RAW"> RAW
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="bodyOption" value="BINARY"> BINARY
                                </label>
                                <span class="text-danger" data-valmsg-for="bodyOption"
                                      data-valmsg-replace="true"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-danger">
        <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" href="#classFileDev">
                <a href="javascript:">类文件</a>
            </h4>
        </div>

        <div id="classFileDev" class="panel-collapse in">
            <div class="panel-body">
                <div class="page-content">
                    <div class="content pt-20">

                        <div class="panel">
                            <div class="panel-heading">输入java文件</div>
                            <div class="panel-body">
                                <div class="form-group col-sm-12">
                                    <label class="control-label col-sm-4" for="requestJavaClassname">输入className:</label>
                                    <div class="col-sm-8">
                                        <input data-val="true" class="col-xs-10 col-sm-10 form-control"
                                               type="text" id="requestJavaClassname" name="requestJavaClassname"
                                               readonly placeholder="requestJavaClassname">
                                        <span class="text-danger" data-valmsg-for="requestJavaClassname"
                                              data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="uploaderIn">
                                        <div class="uploader-message text-center">
                                            <div class="content"></div>
                                            <button type="button" class="close">×</button>
                                        </div>
                                        <div class="uploader-files file-list file-list-grid"></div>
                                        <div>
                                            <hr class="divider">
                                            <div class="uploader-status pull-right text-muted"></div>
                                            <button type="button" class="btn btn-link uploader-btn-browse"><i
                                                    class="icon icon-plus"></i> 选择文件
                                            </button>
                                            <button type="button" class="btn btn-link uploader-btn-start"><i
                                                    class="icon icon-cloud-upload"></i> 开始上传
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-heading">输出java文件</div>
                            <div class="panel-body">
                                <div class="form-group col-sm-12">
                                    <label class="control-label col-sm-4"
                                           for="responseResultType">响应result类型:</label>
                                    <div class="col-sm-8">
                                        <select name="responseResultType" id="responseResultType" class="form-control">
                                            <option value="String">String</option>
                                            <option value="Object">Object</option>
                                            <option value="Array">Array</option>
                                            <option value="Number">Number</option>
                                            <option value="Boolean">Boolean</option>
                                        </select>
                                        <span class="text-danger" data-valmsg-for="responseResultType"
                                              data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label class="control-label col-sm-4" for="responseResultDataType">响应result具体类型:</label>
                                    <div class="col-sm-8">
                                        <select name="responseResultDataType" id="responseResultDataType" disabled
                                                class="form-control">
                                            <option value="String">String</option>
                                            <option value="Object">Object</option>
                                            <option value="Number">Number</option>
                                            <option value="Boolean">Boolean</option>
                                        </select>
                                        <span class="text-danger" data-valmsg-for="responseResultDataType"
                                              data-valmsg-replace="true"></span>
                                    </div>
                                </div>

                                <div class="form-group col-sm-12" id="responseJavaClassnameInputDev">
                                    <label class="control-label col-sm-4" for="responseJavaClassname">输出className:</label>
                                    <div class="col-sm-8">
                                        <input data-val="true" class="col-xs-10 col-sm-10 form-control"
                                               type="text" id="responseJavaClassname" name="responseJavaClassname"
                                               disabled readonly placeholder="responseJavaClassname">
                                        <span class="text-danger" data-valmsg-for="responseJavaClassname"
                                              data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label class="control-label col-sm-4" for="description">输出描述:</label>
                                    <div class="col-sm-8">
                                        <input data-val="true" data-val-required="必填"
                                               class="col-xs-10 col-sm-10 form-control"
                                               type="text" id="description" name="description"
                                               placeholder="description">
                                        <span class="text-danger" data-valmsg-for="description"
                                              data-valmsg-replace="true"></span>
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <div class="uploaderOut">
                                        <div class="uploader-message text-center">
                                            <div class="content"></div>
                                            <button type="button" class="close">×</button>
                                        </div>
                                        <div class="uploader-files file-list file-list-grid"></div>
                                        <div>
                                            <hr class="divider">
                                            <div class="uploader-status pull-right text-muted"></div>
                                            <button type="button" class="btn btn-link uploader-btn-browse"><i
                                                    class="icon icon-plus"></i> 选择文件
                                            </button>
                                            <button type="button" class="btn btn-link uploader-btn-start"><i
                                                    class="icon icon-cloud-upload"></i> 开始上传
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <button id="parseBtn" type="button" class="btn btn-primary" data-loading-text="解析中...">解析
                        </button>
                        <button class="btn btn-success" id="recordBtn" disabled type="button"
                                data-loading-text="录入中...">录入Rap2
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" href="#requestJavaClassnameDev">
                <a href="javascript:">输入</a>
            </h4>
        </div>

        <div id="requestJavaClassnameDev" class="panel-collapse in">
            <div class="panel-body">
                <div class="page-content">
                    <div class="content pt-20">
                        <table id="tableRequest" data-show-columns="true" data-search="true" data-show-footer="true"
                               data-show-toggle="true" data-icons-prefix="icon" data-icons="icons"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-success">
        <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" href="#responseJavaClassnameDev">
                <a href="javascript:">输出</a>
            </h4>
        </div>

        <div id="responseJavaClassnameDev" class="panel-collapse in">
            <div class="panel-body">
                <div class="page-content">
                    <div class="content pt-20">
                        <table id="tableResponse" data-show-columns="true" data-search="true" data-show-footer="true"
                               data-show-toggle="true" data-icons-prefix="icon" data-icons="icons"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    function arrayRemove(arr, value) {
        return arr.filter(function (ele) {
            return ele !== value;
        });
    }

    var $tableResponse = $('#tableResponse');
    var $tableRequest = $('#tableRequest');


    $.fn.editable.defaults.mode = 'inline';
    var uploaderInFileArray = [];
    var uploaderOutFileArray = [];

    $(function () {
        $(".uploaderOut").hide();
        $("#sid").val(localStorage.getItem("sid"));
        $("#sig").val(localStorage.getItem("sig"));

        function requestJavaClassnameFill() {
            if(uploaderInFileArray.length === 0){
                $("#requestJavaClassname").val("");
            } else {
                var fileName = uploaderInFileArray[0].split(".java")[0];
                $("#requestJavaClassname").val(fileName); 
            }
        }

        function responseJavaClassnameFill() {
            if(uploaderOutFileArray.length === 0){
                $("#responseJavaClassname").val("");
            } else {
                var fileName = uploaderOutFileArray[0].split(".java")[0];
                $("#responseJavaClassname").val(fileName);
            }
        }

        $('.uploaderIn').uploader({
            url: "/upload/multi",
            rename: false,
            filters: {
                mime_types: [
                    {title: 'java', extensions: 'java'},
                ]
            },
            deleteActionOnDone: function (file, doRemoveFile) {
                $.ajax({
                    type: "POST",
                    url: "/upload/delete",
                    data: {"name": file.name},
                    dataType: "json",
                    success: function () {
                        doRemoveFile();
                        uploaderInFileArray = arrayRemove(uploaderInFileArray, file.name);
                        requestJavaClassnameFill();
                    }
                })
            },
            onUploadFile: function (file) {
                uploaderInFileArray.push(file.name);
                requestJavaClassnameFill();
            }
        });

        $('.uploaderOut').uploader({
            url: "/upload/multi",
            rename: false,
            filters: {
                mime_types: [
                    {title: 'java', extensions: 'java'},
                ]
            },
            deleteActionOnDone: function (file, doRemoveFile) {
                $.ajax({
                    type: "POST",
                    url: "/upload/delete",
                    data: {"name": file.name},
                    dataType: "json",
                    success: function () {
                        doRemoveFile();
                        uploaderOutFileArray = arrayRemove(uploaderOutFileArray, file.name);
                        responseJavaClassnameFill();
                    }
                })
            },
            onUploadFile: function (file) {
                uploaderOutFileArray.push(file.name);
                responseJavaClassnameFill();
            }
        });

        var tableOption = {
            data: [],
            fixedColumns: true,
            fixedNumber: 1,
            striped: true,
            sidePagination: 'client',
            idField: 'id',
            showColumns: true,
            columns: [
                {
                    width: 36,
                    title: '序号',
                    align: "center",
                    formatter: function (value, row, index) {
                        return index + 1;
                    },
                    footerFormatter: totalTextFormatter
                },
                {
                    field: 'name',
                    title: '字段名称',
                    width: 300,
                    sortable: true,
                    searchable: true,
                    formatter: nameFormatter,
                    footerFormatter: totalNameFormatter,
                },
                {
                    field: 'type',
                    title: '字段类型',
                    width: 300,
                    formatter: typeFormatter
                },
                {
                    field: 'description',
                    title: '字段描述',
                    width: 300,
                    searchable: true,
                    formatter: descriptionFormatter
                },
                {
                    field: "scope",
                    title: 'scope',
                    formatter: scopeFormatter,
                    visible: false
                },
                {
                    field: 'operate',
                    title: '操作',
                    align: 'center',
                    clickToSelect: false,
                    events: operateEvents,
                    formatter: operateFormatter
                }
            ],
            treeShowField: 'name',
            parentIdField: 'parentId'
        };

        $tableResponse.bootstrapTable(tableOption);
        $tableRequest.bootstrapTable(tableOption);

        $('#parseBtn').on('click', function () {
            var $btn = $(this);
            $btn.button('loading');
            $.ajax({
                type: "GET",
                url: "/data/parse",
                data: {
                    "requestJavaClassname": $("input[name='requestJavaClassname']").val(),
                    "responseJavaClassname": $("input[name='responseJavaClassname']").val(),
                    "responseResultType": $("select[name='responseResultType']").val(),
                    "responseResultData.description": $("input[name='description']").val(),
                    "responseResultData.responseResultDataType": $("select[name='responseResultDataType']").val()
                },
                dataType: "json",
                success: function (data) {
                    $tableResponse.bootstrapTable('load', data.responseArray);
                    $tableResponse.treegrid({
                        treeColumn: 1
                    });

                    $tableRequest.bootstrapTable('load', data.requestArray);
                    $tableRequest.treegrid({
                        treeColumn: 1
                    });


                    $('.prop,.description').editable({
                        type: 'text',
                        title: '输入属性值',
                        success: function (response, newValue) {

                        }
                    });

                    $('.description').editable({
                        type: 'text',
                        title: '输入属性值',
                        success: function (response, newValue) {

                        }
                    });


                    $('.scope').editable({
                        type: 'text',
                        success: function (response, newValue) {

                        }
                    });

                    $('.type').each(function () {
                        $(this).editable({
                            value: $(this).attr('val'),
                            source: [
                                {value: 'String', text: 'String'},
                                {value: 'Number', text: 'Number'},
                                {value: 'Object', text: 'Object'},
                                {value: 'Boolean', text: 'Boolean'},
                                {value: 'Array', text: 'Array'}
                            ]
                        });
                    });

                    new $.zui.Messager('解析成功', {
                        type: 'success',
                        close: false // 禁用关闭按钮
                    }).show();
                    $btn.button('reset');
                    $("#recordBtn").removeAttr("disabled");
                },
                error: function (errors) {
                    $btn.button('reset');
                    new $.zui.Messager(errors.responseText, {
                        type: 'danger',
                        close: false // 禁用关闭按钮
                    }).show();
                }
            });
        });


    });

    function calcDataNamePrefix(row) {
        var scope = row.scope;
        var dataNamePrefix = "responseData";
        if (scope === "request") {
            dataNamePrefix = "requestData";
        }
        return dataNamePrefix;
    }

    function typeFormatter(value, row, index) {
        var dataNamePrefix = calcDataNamePrefix(row);
        return '<a href="#" class="myeditable type" data-name="' + dataNamePrefix + '[' + index + '].type" data-pk="' + row.id + '" data-type="select" val="' + value + '">' + value + '</a>';
    }

    function nameFormatter(value, row, index) {
        var dataNamePrefix = calcDataNamePrefix(row);
        return '<a href="#" class="myeditable prop" data-name="' + dataNamePrefix + '[' + index + '].name" data-pk="' + row.id + '" data-type="text" >' + value + '</a>';
    }

    function descriptionFormatter(value, row, index) {
        var dataNamePrefix = calcDataNamePrefix(row);
        parentIdType = typeof row.parentId;
        var parentId = (parentIdType === 'number' ? -1 : row.parentId);
        return '<a href="#" class="myeditable description" data-name="' + dataNamePrefix + '[' + index + '].description" data-pk="' + row.id + '" data-type="text" >' + value + '</a>' +
            '<a href="#" class="hidden myeditable scope hidProp" data-name="' + dataNamePrefix + '[' + index + '].scope" data-pk="' + row.id + '" data-type="text" >' + row.scope + '</a>' +
            '<a href="#" class="hidden myeditable scope hidProp" data-name="' + dataNamePrefix + '[' + index + '].id" data-pk="' + row.id + '" data-type="text" >' + row.id + '</a>' +
            '<a href="#" class="hidden myeditable scope hidProp" data-name="' + dataNamePrefix + '[' + index + '].parentId" data-pk="' + row.id + '" data-type="text" >' + parentId + '</a>';
    }

    function scopeFormatter(value, row, index) {
        return '<a href="#" class="myeditable scope" data-name="' + dataNamePrefix + '[' + index + '].scope"  data-pk="' + row.id + '" data-type="text" >' + value + '</a>';
    }


    function operateFormatter(value, row, index) {
        return [
            '<a class="like" href="javascript:void(0)" title="Like">',
            '<i class="fa fa-heart"></i>',
            '</a>  ',
            '<a class="remove" href="javascript:void(0)" title="Remove">',
            '<i class="glyphicon glyphicon-remove text-red"></i>',
            '</a>'
        ].join('')
    }

    operateEvents = {
        'click .remove': function (e, value, row, index) {
            $tableResponse.bootstrapTable('remove', {
                field: 'id',
                values: [row.id]
            })
        }
    };

    function totalTextFormatter() {
        return 'Total'
    }

    function totalNameFormatter(data) {
        return data.length
    }

    window.icons = {
        toggleOn: 'icon-toggle-on',
        toggleOff: 'icon-toggle-off'
    };

    $('#recordBtn').click(function () {
        var $btn = $(this);
        $btn.button('loading');
        $('.myeditable').editable('submit', {
            url: '/data/generator',
            data: {
                "sid": $("#sid").val(),
                "sig": $("#sig").val(),
                "interfaceUrl": $("#interfaceUrl").val(),
                "bodyOption": $("input[name='bodyOption']:checked").val(),
                "requestParamsType": $("input[name='requestParamsType']:checked").val(),
                "responseResultType": $("#responseResultType").val(),
                "responseResultData.responseResultDataType": $("#responseResultDataType").val(),
                "responseResultData.description": $("#description").val(),
            },
            ajaxOptions: {
                dataType: 'text'
            },
            success: function (data, config) {
                new $.zui.Messager(data, {
                    type: 'success',
                    close: false // 禁用关闭按钮
                }).show();
                $btn.button('reset');
                localStorage.setItem("sid", $("#sid").val());
                localStorage.setItem("sig", $("#sig").val());

            },
            error: function (errors) {
                new $.zui.Messager(errors.responseText, {
                    type: 'danger',
                    close: false // 禁用关闭按钮
                }).show();
                $btn.button('reset');
            }
        });
    });


    $("#responseResultType").change(function () {
        var responseResultType = $(this).val();
        if (responseResultType === 'Object' || responseResultType === 'Array') {
            if (responseResultType === 'Object') {
                $(".uploaderOut").show();
                $("select[name='responseResultDataType']").val('Object');
                $("input[name='responseJavaClassname']").removeAttr("disabled");
                $("input[name='description']").attr("disabled", "disabled");
            } else {
                $("select[name='responseResultDataType']").removeAttr("disabled");
            }
        } else {
            $(".uploaderOut").hide();
            $("input[name='responseJavaClassname']").attr("disabled", "disabled");
            $("input[name='description']").removeAttr("disabled");
            $("select[name='responseResultDataType']").val($(this).val()).attr("disabled", "disabled");
        }
    });

    $("#responseResultDataType").change(function () {
        var responseResultDataType = $(this).val();
        if (responseResultDataType === 'Object' || responseResultDataType === 'Array') {
            $(".uploaderOut").show();
            $("input[name='responseJavaClassname']").removeAttr("disabled");
            $("input[name='description']").attr("disabled", "disabled");
        } else {
            $(".uploaderOut").hide();
            $("input[name='responseJavaClassname']").attr("disabled", "disabled");
            $("input[name='description']").removeAttr("disabled");
        }
    });

    $("input[name='requestParamsType']").change(function () {
        if ($(this).val() === 'BODY_PARAMS') {
            $("#bodyOptionDiv").removeClass("hidden");
        } else {
            $("#bodyOptionDiv").addClass("hidden");
        }
    });
</script>
</body>
</html>